<%- include("template/header") %>
        <%- include("template/aside") %>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                
                <%- include('template/breadcrumb', {module: 'Evaluación de Eventos traumaticos' }) %>
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-md-12">

                                    <div class="card">
                                        <div class="card-header">
                                            Identificación de eventos traumáticos severos
                                           

                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                Creación del softweare para la Guia de referencia II y III 
                                                <br>Agregar a la evaluación de eventos traumáticos  severos 
                                            </p> <br>
                                            <section class="content-header">
                                                <div class="container-fluid">
                                                  <div class="row mb-2">
                                                    <div class="col-md-12">            
                                                      <div class="container">
                                                        <a href="/createEstadio" class="btn btn-primary mt-4 mb-2"> <i class="fa-regular fa-square-plus"></i></a>
                                                        <table id="example1" class="table table-bordered table-striped text-center mt-4">
                                                          <thead>
                                                            <tr class="bg-primary text-white">
                                                              <th scope="col">Genero</th>
                                                              <th scope="col">Frecuencia</th>
                                                              <th scope="col">Porcentaje</th>
                                                              <th scope="col">Editar/Eliminar</th>
                                                              
                                                            </tr>
                                                          </thead>
                                                          <tbody>
                                                            
                                                  
                                                              <tr>
                                                                <th>Masculino</th>
                                                                <th>73</th>
                                                                <th>73%</th>
                                                                
                                                                <td>
                                                                  <a href="/" class="btn btn-info"> <i class="fa-regular fa-pen-to-square"></i></a>
                                                                  <a onclick="confirmation();" class="btn btn-danger"> <i class="fa-regular fa-trash-can"></i></a>              

                                                                </td>
                                                              </tr>       
                                                              <tr>
                                                                <th>Femenino</th>
                                                                <th>22</th>
                                                                <th>22%</th>
                                                                
                                                                <td>
                                                                  <a href="/" class="btn btn-info"> <i class="fa-regular fa-pen-to-square"></i></a>
                                                                  <a onclick="confirmation();" class="btn btn-danger"> <i class="fa-regular fa-trash-can"></i></a>              

                                                                </td>
                                                              </tr>                         
                                                              <tr>
                                                                <th>Sin especificar</th>
                                                                <th>2</th>
                                                                <th>5%</th>
                                                                
                                                                <td>
                                                                  <a href="/" class="btn btn-info"> <i class="fa-regular fa-pen-to-square"></i></a>
                                                                  <a onclick="confirmation();" class="btn btn-danger"> <i class="fa-regular fa-trash-can"></i></a>              

                                                                </td>
                                                              </tr>  
                                                              <tr>
                                                                <th>Total</th>
                                                                <th>100</th>
                                                                <th>100%</th>
                                                                
                                                                <td>
                                                                  <a href="/" class="btn btn-info"> <i class="fa-regular fa-pen-to-square"></i></a>
                                                                  <a onclick="confirmation();" class="btn btn-danger"> <i class="fa-regular fa-trash-can"></i></a>              

                                                                </td>
                                                              </tr>  
                                                          </tbody>
                                                        </table>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div><!-- /.container-fluid -->
                                              </section>
                                          
                                                    <img src="/img/imagen4.png">
                                                    <br>
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>

                    <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            <%- include("template/footer") %>