.content-header h1 {
  font-family: "Anton", sans-serif;
}

.modal-header h5 {
  font-family: "Anton", sans-serif;
}

.modal-content {
  background: #5089c2;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.poll, .chart {
  background-color: white;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 1 0 10px rgba(0, 0, 0, 0.1);
}
.chart-container {
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.chart-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  gap: 10px;
}

/* Eje Y */
.y-axis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;
}

.bar-chart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
    height: 150px;
    position: relative;
}

.bar {
  width: 30%;
  background-color: #3498db;
  color: white;
  text-align: center;
  padding-top: 30px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.chart-card {
  width: 300px;
  padding: 20px;
  background-color: rgb(241, 222, 222);
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.course-card {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
}

.btn {
  display: block;
  width: 100px;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.details {
  background-color: #3498db;
  color: white;
}

.delete {
  background-color: #e74c3c;
  color: white;
}
  
.bar:hover {
  transform: scale(1.1);
}
  .bar:hover::after {
    content: attr(data-vote) " votos";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.x-axis {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}